<!DOCTYPE html>
<html>

<head>
</title>Login In Homepage</title>
</head>

<body>
<h1>Awesome {{username}}, you have successfully logged in!</h1>
<form class="" method="post" action="/log_Out">

<input type="submit" value="Yes, I want to logout" name="log_Action">
</form>
</body>

</html>
