<!doctype html>

<html>
<head>
  <body>
    <h1>Awesome {{ username }}, you have successfully logged in!</h1>
    <p>We see you have logged in {{ countLog }} times.
      Thank you for checking us out!!</p>
    <a href ="/logout">Please visit us again</a>
