<!DOCTYPE html>
<html>
  <head>
    <title>Sign up Page!</title>
  </head>

  <body>

<form action="/signup" method="post">

  <h2>Sign-up for future grand prizes!!!!</h2>



  <input type="text" id="theId" name="username" placeholder="Please Enter User Name" cols="40" required="required" >



  <input type="text" id="thePassword" name="password" placeholder="Please Enter Password" cols="40" required="required" >

  <input type="submit" name="Signup">

</form>
  </body>
</html>
